/* GENERAL */
.container{
    width: 100%;
}
/* HEADER */
    header{
        background-color:#222222;
        padding-top: 25px;
    }
/* CONTENT */
    /* h1{
        color: #B8B8B8;
    } */
    #tituloempresa{
        color: #B8B8B8;
    }
    #main{
        background-color: #2C2C2C;
        /* color: #B8B8B8; */
    }
    #principal{
        background-color: #2C2C2C;
        /* color: #B8B8B8; */
    }
    th { 
        font-size: 12px; 
    }
    /* Botones */
    /* .btn{
        width: 95%;
        height: 60%;
    } */
    #btnguardarchofer{
        position: relative;
    }
    /* Inputs*/
        .input-format{
            margin-left: 0px;
            margin-top: 0px;
            padding-top: 0px;
            width: 95%;
            height: 25px;
            font-family: 'Lato', Calibri, Arial, sans-serif;
            font-size: 16px;
            background: white;
            border: 2px solid #fff;
            color:black;
        }
    /* Labels*/
        .lbl-style{
            font-size: 14px;
            font-weight: bold;
        }
    /* Imagenes*/
        .whiteiconcolor{color:#ffffff;}

    /* Menu*/
        .menu-bar{
            background-color: #ffbc01;
            margin-top: 0px;
        }
            .menu-bar a{
                color: #2a1000;
                font-size: 16px;
                font-weight: 500;
            }
            .menu-bar a:hover{
                text-decoration: none;
                color:#fff;
            }
        .menu-list{
            padding: 0px 0;
            margin-bottom: 0;
        }
            .menu-list > li:not(:last-child){
                margin-right: 40px;
            }
    /* Divs Mantenimiento*/
        #div-mant{
            float: left;
            height: 700px;
            width: 100%;
            margin-top: 20px;
        }
            #div-mants{
                float: left;
                width: 100%;
                height: 340px;
            }
            #div-mant-titulo{
                width: 100%;
                height: 60px;
                float: left;
                text-align: center;
                padding-top: 5px;
                
            }
            /* Tabla chofer*/
                #div-mant-tblchofer{
                    width: 100%;
                    height: 100%;
                    float: left;
                    padding-top: 55px;
                    color: #2C2C2C;
                }
                #tblchofer{
                    width:70%
                }
                #div-mant-ingresos{
                    width: 49%;
                    float: left;
                }
                #div-mant-gastos{
                    width: 49%;
                    float: right;
                }
                #div-mant-inputs{
                    /* position: relative; */
                    float: left;
                    height: 180px;
                    width: 100%;
                    
                }
                #input-ingresosgastos{
                    width: 100%;
                    float: left;
                }

    /* Divs Formulario*/
        #div-form{
            float: left;
            font-size: 12px;
            margin-top: 20px;
        }
        #div-repo{
            float: left;
            height: 700px;
            width: 100%;
            margin-top: 20px;
        }
            .principal-row{
                background-color: #2C2C2C;
                color: #B8B8B8;
                width: 100%;
                height: 700px;
                float: left;
            }
            .prin-mantenimiento{
                float: left;
                width: 50%;
                height: 100%;
                
            }
            .prin-formulario{
                float: left;
                width: 50%;
                height: 100%;
                
            }
            .prin-margen{
                width: 5%;
                float: left;
                height: 100%;
                
            }
            .prin-margen-center{
                width: 2.5%;
                float: left;
                height: 100%;
                
            }
            .contenido-form{
                width: 92.5%;
                float: left;
                height: 100%;
                
            }
            .contenido-mant{
                width: 92.5%;
                float: left;
                height: 100%;
                
            }

            /*ok*/
            #div-form-titulo{
                width: 100%;
                height: 60px;
                float: left;
                text-align: center;
                padding-top: 5px;
            }
            .div-form-input{
                width: 50%;
                height: 60px;
                float: left;
                padding-top: 5px;
                
            }
            #div-form-conversion{
                width: 50%;
                height: 60px;
                float: left;
                padding-top: 36px;
            }
            .div-form-medio{
                width: 50%;
                height: 150px;
                float: left;
            }
            #div-form-ingresos-add{
                width: 10%;
                height: 20%;
                float: left;
                padding-top: 5px;
            }
            #div-form-gastos-add{
                width: 10%;
                height: 20%;
                float: left;
                padding-top: 5px;
            }
            #div-form-ingresos{
                width: 90%;
                height: 100%;
                float: left;
                padding-top: 5px;
            }
            #div-form-gastos{
                width: 90%;
                height: 100%;
                float: left;
                padding-top: 5px;
                
            }
            .btnadd{
                width: 100%;
                height: 40px;
                float: left;
            }
            .inp-ingreso{
                width: 90%;
                height: 90%;
                float: left;
            }
            .inp-gasto{
                width: 90%;
                height: 90%;
                float: left;
            }
            #div-form-total-pago{
                width: 100%;
                height: 30px;
                float: left;
                padding-top: 5px;
            }
            #lbl-comprobante{
                font-size: 18px;
            }
            .div-80{
                width: 70%;
                float: left;
            }
            .div-20{
                width: 30%;
                float: left;
            }
            .div-20-80{
                height: 70%;
                float: left;
            }
            .div-20-20{
                height: 30%;
                float: left;
            }
            .div-80-50{
                width: 50%;
                float: left;
            }
        /* Tables */
        .tbl{
            color: #222222;
        }
        .text-area{
            width: 95%;
            float: left;
            margin-left: 0px;
        }
        /*Imagenes*/
        .borrar{
            width: 17px;
            height: 17px;
        }

        /*CHOFER*/
        #input-chofer{
            width: 100%;
            height: 100%;
            /* position: absolute; */
            bottom:0;
            left: 0;
        }
        #input-finca{
            width: 100%;
            height: 100%;
            float: left;         
        }
        .caja-media{
            width: 50%;
            height: 100%;
            float: left;
        }
        .caja-cuarto{
            width: 25%;
            height: 100%;
            float: left;   
        }
        .contenido-input{
            width: 100%;
            height: 33.33%;
            float: left;
        }
        .contenido-input-medio{
            bottom: 0px;
            width: 100%;
            height: 32px;
            MARGIN-TOP: -3.5px;
        }
        #btnguardarchofer{
            margin-right: 5%;
        }

        #input-viajes{
            width: 100%;
            height: 100%;
            float: left;
        }
        .contenido-table{
            width: 100%;
            height: 75%;
            float: left;
            
        }
        .contenido-extra{
            width: 100%;
            height: 25%;
            float: left;
            
        }

    /* Divs Reportes*/
    #div-report-titulo{
        width: 100%;
        height: 60px;
        float: left;
        text-align: center;
        padding-top: 5px;
        
    }
    #div-lista-reporte{
        width: 100%;
        height: 425px;
        float: left;
    }
    .div-opcion-report{
        width: 100%;
        height: 100px;
        float: left;
    }
    .div-opcion-colocacion{
        width: 100%;
        height: 60px;
        float: left;
    }
    .div-opcion-liq{
        width: 100%;
        height: 65px;
        float: left;
    }
    .div-tercio{
        width: 33.3%;
        height: 100%;
        float: left;
    }
    .div-opciones{
        width: 100%;
        height: 80%;
        float: left;   
    }
    .div-opciones-medio{
        width: 100%;
        height: 50%;
        float: left;   
    }

    .div-total-botones{
        width: 100%;
        height: 20%;
        float: left;
        
    }
    /*COLOCACIONES*/
    #div-colocacion-titulo{
        width: 100%;
        height: 60px;
        float: left;
        text-align: center;
        padding-top: 5px;
    }
    #div-colocacion{
        float: left;
        height: 700px;
        width: 100%;
        margin-top: 20px;
    }
    #tblcolocacion tbody tr th { 
        min-height: 25px;
        background-color: red;
    } 
    /*LIQUIDACION*/
    #div-liquidacion-titulo{
        width: 100%;
        height: 60px;
        float: left;
        text-align: center;
        padding-top: 5px;   
    }
    #div-liquidacion{
        float: left;
        height: 700px;
        width: 100%;
        /* margin-top: 20px; */
    }
    #div-inggas-liquidacion{
        float: left;
        width: 100%;
        height: 180px;
    }
    #div-lista-liquidacion{
        float: left;
        width: 100%;
        height: 280px;
    }
    #div-liq-ingresos{
        width: 50%;
        float: left;
    }
    #div-liq-gastos{
        width: 50%;
        float: left;
    }
    #div-totalpago-liq{
        width: 100%;
        float: left;
        height: 40px;
    }
    .lbl-pagototal-liq{
        font-size: 25px;
        color: whitesmoke;
        font-weight: bold;
    }
    /* FOOTER */
    footer{
        margin-top: 0px;
        background-color:#222222;
        height: 100px;
    }